@import "tailwindcss";
@import url(general-sans.css);

@theme {  --font-main: GeneralSansMedium, sans-serif;}

@layer base {
  h1 {
    @apply text-4xl tracking-tight font-main bg-amber-200;
  }

  h2 {
    @apply text-3xl tracking-tight font-main;
  }

  h3 {
    @apply text-2xl font-main;
  }

  p {
    @apply text-base font-main;
  }
}