@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Antiquarian';
  src: url('./fonts/antiquarian.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-fancy: 'Antiquarian', serif;

  --color-accent: #F7232C;
  --color-accentStrong: #FF1D00;
  --color-blueStrong: #2000FF;
  --color-blackTheme: #080807;
  --color-cream: #F3F3F1;
}

.fancy {
  font-family: 'Antiquarian', serif;
}

.hoversplit {
  text-shadow: 0px 1em 0px #F7232C ;
  overflow: hidden;
  height: 1.2em; /* Add this - adjust based on your font size */
  display: inline-block;
}

.hoversplit .char {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#footer-logo {
  text-align: justify;
  font-size: 4.3vw;
  height: 200px;
}

#footer-logo:after {
  content: "";
  display: inline-block;
  width: 100%;
}