@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Antiquarian';
  src: url('./fonts/antiquarian.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-display: 'Inter', sans-serif;
  --font-fancy: 'Antiquarian', serif;

  --color-accent: #F7232C;
  --color-accentStrong: #FF1D00;
  --color-blueStrong: #2000FF;
}